
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="slideads" style="background-image: url(https://i.redd.it/rycmrzu4zl061.jpg);" id="parent"> 
          <img class="img-fluid img-item mx-auto d-block" src="https://i.redd.it/rycmrzu4zl061.jpg">
        </div>
      </div>
      <div class="carousel-item">
        <div class="slideads" style="background-image: url('https://i.redd.it/fu1qfva1e2961.jpg');" id="parent"> 
          <img class="img-fluid img-item mx-auto d-block" src="https://i.redd.it/fu1qfva1e2961.jpg">
        </div>
      </div>
      <div class="carousel-item">
        <div class="slideads" style="background-image: url('https://gadgetstouse.com/wp-content/uploads/2020/01/Android-Ads.png');" id="parent"> 
          <img class="img-fluid img-item mx-auto d-block" src="https://gadgetstouse.com/wp-content/uploads/2020/01/Android-Ads.png">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>