<div class="container-fluid"></div>
            <div class="px-lg-5">
              <div class="row">
                  
                <!-- Gallery item -->
                <div class="card col-xl-3 col-lg-3 col-md-4 col-4" style="width: 18rem;">
                  <img src="https://scontent.fbkk12-4.fna.fbcdn.net/v/t1.6435-9/175822378_5820880527937195_7776529930822013821_n.jpg?_nc_cat=1&ccb=1-3&_nc_sid=8bfeb9&_nc_eui2=AeEqdlnliNrXOdwAMQzev84bEW3j_gRSapMRbeP-BFJqkzgfIzsZo-8zzevzLTcEf9UaGh9NyCX_LqMgKaXeHWmM&_nc_ohc=ezh8aiYuI8sAX_nyc3s&_nc_ht=scontent.fbkk12-4.fna&oh=469299e3a8749272dd3b2b296588aa2c&oe=60A3D7DE" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5><a href="#" class="text-dark">Shang-Chi and the Legend of the Ten Rings</a></h5>
                    <h6 class="text-dark">Release date : 3/09/2021</h6>
                  </div>
                </div>
                <!-- End -->
          
                <!-- Gallery item -->
                <div class="card col-xl-3 col-lg-3 col-md-4 col-4 " style="width: 18rem;">
                  <img src="https://i.pinimg.com/736x/91/50/0a/91500abd4705dbb1f4f3a92870252178.jpg" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5><a href="#" class="text-dark">Black Widow</a></h5>
                    <h6 class="text-dark">Release date : 9/08/2021</h6>
                  </div>
                </div>
                <!-- End -->
          
                <!-- Gallery item -->
                <div class="card col-xl-3 col-lg-3 col-md-4 col-4 " style="width: 18rem;">
                  <img src="https://files.gqthailand.com/uploads/MV5BNGVjNWI4ZGUtNzE0MS00YTJmLWE0ZDctN2ZiYTk2YmI3NTYyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5><a href="#" class="text-dark">Joker</a></h5>
                    <h6 class="text-dark">Release date : 4/10/2021</h6>
                  </div>
                </div>
                <!-- End -->
                
                <!-- Gallery item -->
                <div class="card col-xl-3 col-lg-3 col-md-4 col-4 " style="width: 18rem;">
                  <img src="https://resizing.flixster.com/lR9jf8QkbCVtqy8Pg_-fntKRi0U=/206x305/v2/https://resizing.flixster.com/7O6kGFWz7_XiWOjMBTrERl2glDA=/ems.ZW1zLXByZC1hc3NldHMvbW92aWVzL2Q1MjgzODBhLTdmOGItNGNkNC1iOTQ0LTMxNzI0MzZkMWY1Ni5wbmc=" class="card-img-top" alt="...">
                  <div class="card-body text-center">
                    <h5><a href="#" class="text-dark">Mortal Kombat</a></h5>
                    <h6 class="text-dark">Release date : 24/04/2021</h6>
                  </div>
                </div>
                <!-- End -->
              
              </div>
              <div class="py-5 text-right"><a href="/movies" class="btn btn-dark px-5 py-3 text-uppercase">Show me more</a></div>
            </div>
          </div>
