<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <nav class=" shadow-lg  navbar navbar-expand-md navbar-dark bg-dark ">
    <div class="container">
      <a class="navbar-brand" href="/"><img class="img-fluid" style="max-width: 4rem;" src="/images/logo.png" alt=""></a>
      

      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-right">
  
          <!-- <li class="nav-item">
            <a class="nav-link" href="/manage/2">manage2</a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" href="/">HOME</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="/movies/now">MOVIE</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="/cinemas">CINEMAS</a>
          </li>
  
          <!-- <li class="nav-item">
            <a class="nav-link" href="/promotions">PROMOTIONS</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" href="/news">NEWS</a>
          </li> -->
          
            
              <form class="form-inline " action="/home/search" method="POST">
                <div class="form-group col-md-12">
                <input class="form-control mr-sm-2" type="search" placeholder='Movie Search'  aria-label="Search"  name="key" required>
              </div>
              </form>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-filter"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/home/filter?filter=Action">Action</a>
                  <a class="dropdown-item" href="/home/filter?filter=Adventure">Adventure</a>
                  <a class="dropdown-item" href="/home/filter?filter=Animated">Animated</a>
                  <a class="dropdown-item" href="/home/filter?filter=Comedy">Comedy</a>
                  <a class="dropdown-item" href="/home/filter?filter=Crime">Crime</a>
                  <a class="dropdown-item" href="/home/filter?filter=Drama">Drama</a>
                  <a class="dropdown-item" href="/home/filter?filter=Historical">Historical</a>
                  <a class="dropdown-item" href="/home/filter?filter=Horror">Horror</a>
                  <a class="dropdown-item" href="/home/filter?filter=Musical">Musical</a>
                  <a class="dropdown-item" href="/home/filter?filter=Mystery">Mystery</a>
                  <a class="dropdown-item" href="/home/filter?filter=Science">Science fiction(Sci-Fi)</a>
                  <a class="dropdown-item" href="/home/filter?filter=Thriller">Thriller</a>
                  <a class="dropdown-item" href="/home/filter?filter=Western">Western</a>
                  
              </li> 
            
          
          
          
            <% if(!currentUser) { %> 
              <li class="nav-item">
                <a class="nav-link" href="/login">LOGIN/SIGH UP</a>
              </li>
              <% }else { %>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-fluid small-profile"  src="<%= currentUser.profileImage %>" alt=""> <%= currentUser.username %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <% if(currentUser) { %>
                      <% if(currentUser.isAdmin) { %>  
                        
                          <a class="dropdown-item" href="/manage?path=allMovie">Management</a>
                        
                    <% }}; %> 
                    <a class="dropdown-item" href="/account?path=profile">Account</a>
                    <a class="dropdown-item" href="/account?path=profile">Profile</a>
                    <a class="dropdown-item" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
                  </div>
                </li>

                
              <% } %> 
            
          
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li> -->
  
        </ul>
      </div>
    </div>
     
  </nav>
  