<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- Modal -->
<div class="modal fade" id="newmovie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Movie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/movies" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">Movie's Name</label>
                    <input type="text" name="movie[name]" id="" class="form-control"  required>
                </div>
                <div class="form-group">
                    <label for="">Movie's Teaser</label>
                    <input type="text" name="movie[teaser]" id="" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">Movie's Genre</label>
                    <select  multiple style="width: 465px;" id="js-example-basic-multiple" name="movie[genre][]"  >
                        <option>Action</option>
                        <option>Adventure</option>
                        <option>Animated</option>
                        <option>Comedy</option>
                        <option>Crime</option>
                        <option>Drama</option>
                        <option>Fantasy</option>
                        <option>Historical</option>
                        <option>Horror</option>
                        <option>Musical</option>
                        <option>Mystery</option>
                        <option>Science fiction(Sci-Fi)</option>
                        <option>Thriller</option>
                        <option>Western</option>
                      </select>
                      
                </div>
                <div class="form-group">
                    <label for="">Movie's Rate</label>
                    <input type="text" name="movie[rate]" id="" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">Movie's Time (min)</label>
                    <input type="number" name="movie[time]" id="" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">Movie's Synosis</label>
                    <textarea name="movie[synosis]" id="" cols="30" rows="5" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <label for="">Movie's Director</label>
                    <input type="text" name="movie[director]" id="" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">Movie's Cast&Crew</label>
                    <input type="text" name="movie[cast]" id="" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">Movie's Poster</label>
                    <input type="file" name="poster" id="" class="form-control" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="">Movie's Wide-Poster</label>
                    <input type="file" name="poster" id="" class="form-control" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="">Movie's Release Date</label>
                    <input type="date" name="movie[date]" id="" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">Imdb Score</label>
                    <input type="number" name="movie[rating]" id="" class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                
            </form>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="newcinema" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Cinema</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/cinemas" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">Cinema's Name</label>
                    <input type="text" name="collection[name]" id="" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">Cinema's Location</label>
                    <input type="text" name="collection[location]" id="" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">Cinema's Theater Number</label>
                    <input type="text" name="collection[theater]" id="" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="">Cinema's Picture</label>
                    <input type="file" name="picture" id="" class="form-control"  accept="image/*" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
            </form>
        </div>

      </div>
    </div>
  </div>

  


  

  <script>
     $(document).ready(function() {
    $('#js-example-basic-multiple').select2();
});
  </script>