<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <%- include('patials/nav-bar.ejs')  %>


<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-6 text-center">
                <img class="img-fluid" style="max-width: 36rem;" src="/images/logo.png" alt="">
            </div>
            <div style="margin-top: 10rem; margin-bottom: 10rem;" class="col-6">
                <h1>Register</h1>
        <%- messages()  %> 
        <form action="/register" method="post">
            <div class="form-group">
                <input type="text" name="username" id="" class="form-control" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" id="" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Sigh up" class="btn btn-primary my-2">
                <p>Already have an account? <a href="/login">Sign in</a></p>
            </div>
            
        </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        $('#messages').addClass('alert alert-danger');
    })
</script>
</body>
</html>