


    <div  class="container">

          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header " id="headingOne">

                <div class="row">
                  <div class="col-1"><h6>#</h6></div>
                  <div class="col-5"><h6 href="#"><h6>Name</h6></h6></div>
                  <div class="col-2"><h6 href="#"><h6>Rank</h6></h6></div>
                  
                </div>
              
            </div>
            </div>
            <% var i=1 %> 
            <% allUser.forEach(allUser => { %>
            <div class="card">
              <div class="card-header " id="headingOne">
                

                  <div class="row">
                    <div class="col-1"><h6><%=i %></h6></div>
                    <div class="col-5"><p class="text-dark"><%= allUser.username %></p> </div>
                    <div class="col-2">
                      <% if (allUser.isAdmin) { %>
                       Admin
                      <% }else{ %>
                        User
                      <% } %> 
                    </div>
                    <div class="col-4 ">
                      <div class="button-groub">
                        
                        
                          <% if (allUser.isAdmin) { %>
                           
                          <% }else{ %>
                            <form style="display: inline;" action="/users/<%= allUser._id %>?_method=DELETE" method="post">
                              <button onclick="myFunction()" class="btn btn-danger">Delete</button>
                            </form>
                            <% } %> 
                        
                      </div>
                    </div>
                  </div>
                
              </div>
          
          
              
            </div>
            <% }) %>
          </div>

    </div>

<script>
     
function myFunction() {
  confirm("Are you sure to delete this?");
 }
</script>
