
html body {
  
  background-color: #292b2c;

}

.wrapper {
  padding: 1%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


.wrapper .container {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
  background: rgba(122, 122, 122, 0.8);
  width: 100%;
}






img.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  
}

img.small-profile{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
