

<div class="row mx-auto py-3 px-3">
    
  <div class="card mx-auto mt-2 col-12">
      <div class="row">
        <div class="col-sm-3 text-center">
          <img class="img-fluid" style="max-width: 180px;" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e8/The_Conjuring_-_The_Devil_Made_Me_Do_It.png/220px-The_Conjuring_-_The_Devil_Made_Me_Do_It.png" alt="">
        </div>

        <div class="col-sm-9">
          <div class="card-body">
            <h4 class="card-title">The Conjuring</h4>
            <h6 class="card-text"><i class="fas fa-video"></i> Theatre 1</h6>
            <h6 class="card-text"><i class="fas fa-volume-up"></i> ENG</h6>
            <h6 class="card-text"><i class="fas fa-tag"></i> Horror</h6>
            <br>
            <h5 class="card-text d-inline p-2" style="border: solid; border-radius: 5px;">12:15</h5>
            <h5 class="card-text d-inline p-2" style="border: solid; border-radius: 5px;">13:30</h5>
            <h5 class="card-text d-inline p-2" style="border: solid; border-radius: 5px;">15:30</h5>
            <h5 class="card-text d-inline p-2" style="border: solid; border-radius: 5px;">12:15</h5>
          </div>
        </div>
      </div>
  </div>

</div>


