<div class="row row-cols-lg-4 row-cols-2 row-cols-md-3 ">
    <% collection.forEach(collection => { %> 
    <% if (collection.showtimes.length==0) { %>
      <div class="col">
        <a href="/movies/<%= collection._id %>/?path=showtime">
            <div class="card bg-secondary border-secondary mb-1" style="max-width: 18rem; height: 70%;">
                <div class="text-center">
                    <p class="card-header text-light"><%= collection.name %></p>
                    <p class="card-text text-light mt-3"><%= collection.date.toISOString().slice(0, 10) %></p>
                  </div>
                <div class="card-body"><img src="<%= collection.poster %>" class="card-img-top" alt="..."></div>
                
              </div>
        </a>     
      </div>
      <% } %> 
    <% }); %>    
 </div>






