<div class="row pt-3 mx-auto">
    <div class="col-sm-5 col-md-6">
      <div class="card ">
        <div class="card-body">
          <h5 class="card-title">Rollout</h5>
          <h6 class="card-title ">Domestic</h6>
          <p class="card-text">$XXXXXXXX</p>
          <h6 class="card-title ">International</h6>
          <p class="card-text">$XXXXXXXX</p>
          <h6 class="card-title ">Worldwide</h6>
          <p class="card-text">$XXXXXXXX</p>
        </div>
      </div>
    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title ">Synosis</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, aperiam nesciunt. Quo recusandae alias facilis veniam officia ducimus ipsa eligendi nisi adipisci commodi, provident sequi delectus mollitia dolore debitis fugit?</p>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title">Director</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, aperiam nesciunt. Quo recusandae alias facilis veniam officia ducimus ipsa eligendi nisi adipisci commodi, provident sequi delectus mollitia dolore debitis fugit?</p>
          </div>
        </div>
        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title">Cast&Crew</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, aperiam nesciunt. Quo recusandae alias facilis veniam officia ducimus ipsa eligendi nisi adipisci commodi, provident sequi delectus mollitia dolore debitis fugit?</p>
          </div>
        </div>
    </div>
  </div>