<div class="row container-fluid mx-auto ">
    <% collection.forEach(collection => { %> 
        <div class="card  movie_card mx-auto">
         <img src="<%= collection.poster %>" class="card-img-top mx-auto" alt="...">
             <div class="card-body">
                 <a href="/movies/<%= collection._id %> "><i class="fas fa-play play_button" data-toggle="tooltip" data-placement="bottom" title="More Info"></i></a>
                 <h5 class="card-title"><%= collection.name %></h5>
                 <span class="movie_info"><%= collection.date.toISOString().slice(0, 10) %></span>
                 <span class="movie_info float-right"><i class="fas fa-star"></i> 9 / 10</span>
             </div>
         </div>
     <% }); %>    
 </div>

 <script>
	$(function(){
        $('#messages').addClass('alert alert-success my-3');
    })

    $(function () {
  		$('[data-toggle="tooltip"]').tooltip()
	})
</script>