<div class="row pt-3 mx-auto">
  <% var flag=0 %> 
  <% collection.comments.forEach(function(comment){ %>
    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
      <% flag=1 %> 
      <% } %>      
  <div class="col-sm-5 col-md-6">
       
        <div class="card mt-2">
            <div class="card-body">
              <p class="card-text"><%= comment.text %></p>
              <h6 class="card-text text-right"><%= comment.author.username %></h6>
            </div>
        </div> 
     
    </div>
    <% }); %>
  </div>
                  

  <% if(flag==0){ %>
    <div class="pt-3 px-3">

      <h5>Your Review Here</h5>
  
      <form action='/movies/<%= collection._id %>' method="post">
        <div class="form-group">
          <textarea class="form-control" name="comment[text]" id="" cols="20" rows="5"></textarea>
        </div>
  
        <div class="form-group text-right">
          <input type="submit" value="Post" class="btn btn-primary my-2 ">
        </div>
        
      </form>
        
      
    </div>
    <% } %>  
  