<div class="row pt-3 mx-auto">
    <div class="col-sm-5 col-md-6">
        
        <div class="card mt-2">
            <div class="card-body">
              <h5 class="card-title">This movie is NUT</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, aperiam nesciunt. Quo recusandae alias facilis veniam officia ducimus ipsa eligendi nisi adipisci commodi, provident sequi delectus mollitia dolore debitis fugit?</p>
              <h6 class="card-text text-right">By Book nana</h6>
            </div>
        </div>

        <div class="card mt-2">
          <div class="card-body">
            <h5 class="card-title">This movie is NUT</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, aperiam nesciunt. Quo recusandae alias facilis veniam officia ducimus ipsa eligendi nisi adipisci commodi, provident sequi delectus mollitia dolore debitis fugit?</p>
            <h6 class="card-text text-right">By Book nana</h6>
          </div>
      </div>

      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">This movie is NUT</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, aperiam nesciunt. Quo recusandae alias facilis veniam officia ducimus ipsa eligendi nisi adipisci commodi, provident sequi delectus mollitia dolore debitis fugit?</p>
          <h6 class="card-text text-right">By Book nana</h6>
        </div>
    </div>

          

    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title">This movie is NUT</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, aperiam nesciunt. Quo recusandae alias facilis veniam officia ducimus ipsa eligendi nisi adipisci commodi, provident sequi delectus mollitia dolore debitis fugit?</p>
          <h6 class="card-text text-right">By Book nana</h6>
        </div>
    </div>

    <div class="card mt-2">
      <div class="card-body">
        <h5 class="card-title">This movie is NUT</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, aperiam nesciunt. Quo recusandae alias facilis veniam officia ducimus ipsa eligendi nisi adipisci commodi, provident sequi delectus mollitia dolore debitis fugit?</p>
        <h6 class="card-text text-right">By Book nana</h6>
      </div>
  </div>

  <div class="card mt-2">
    <div class="card-body">
      <h5 class="card-title">This movie is NUT</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, aperiam nesciunt. Quo recusandae alias facilis veniam officia ducimus ipsa eligendi nisi adipisci commodi, provident sequi delectus mollitia dolore debitis fugit?</p>
      <h6 class="card-text text-right">By Book nana</h6>
    </div>
</div>
       
    </div>
  </div>