<div class="row py-3 px-3">
    
    <div class="card mx-3 mt-2">
        <div class="card-body">
          <h5 class="card-title">Cast&Crew</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, aperiam nesciunt. Quo recusandae alias facilis veniam officia ducimus ipsa eligendi nisi adipisci commodi, provident sequi delectus mollitia dolore debitis fugit?</p>
        </div>
      </div>

      <div class="card mx-3 mt-2">
        <div class="card-body">
          <h5 class="card-title">Cast&Crew</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, aperiam nesciunt. Quo recusandae alias facilis veniam officia ducimus ipsa eligendi nisi adipisci commodi, provident sequi delectus mollitia dolore debitis fugit?</p>
        </div>
      </div>

      <div class="card mx-3 mt-2">
        <div class="card-body">
          <h5 class="card-title">Cast&Crew</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, aperiam nesciunt. Quo recusandae alias facilis veniam officia ducimus ipsa eligendi nisi adipisci commodi, provident sequi delectus mollitia dolore debitis fugit?</p>
        </div>
      </div>
</div>