<div class="row mx-auto py-3 px-3">

  <% foundCinema.forEach(foundCinema => { %>
    <% if(foundCinema.showtimes.length && collection.showtimes.length ) {%>
      <div class="card mx-auto mt-2 col-12">
        <div class="card-body">
          <h4 class="card-title"><%= foundCinema.name %></h4>

          <% collection.showtimes.forEach(function(showtimes){  %>
            <% if(foundCinema.name == showtimes.cinema.name){ %>   
                
                <a class="btn btn-info" href="/booking/<%= collection._id %>/<%= showtimes._id %>  "><%= showtimes.time %></a>
              
            <% } %> 
        <% }) %>
        </div>
    </div>
      <% } %>  
  <% }); %>
</div>