
<div class="row mx-auto py-3 px-3">
    
  <div class="card mx-auto mt-2 col-12">
      <div class="card-body">
        <h4 class="card-title">Shiganshina Cineplex</h4>
        <h6 class="card-text"><i class="fas fa-volume-up"></i> ENG</h6>
        <br>
        <button class="btn btn-info">14:00</button>
      </div>
  </div>

  <div class="card mx-auto mt-2 col-12">
    <div class="card-body">
      <h4 class="card-title">Shiganshina Cineplex</h4>
      <h6 class="card-text"><i class="fas fa-volume-up"></i> ENG</h6>
      <br>
      <button class="btn btn-info">14:00</button>
    </div>
  </div>

  <div class="card mx-auto mt-2 col-12">
    <div class="card-body">
      <h4 class="card-title">Shiganshina Cineplex</h4>
      <h6 class="card-text"><i class="fas fa-volume-up"></i> ENG</h6>
      <br>
      <button class="btn btn-info">14:00</button>
    </div>
</div>
</div>