<div class="row mx-auto py-3 px-3">
    
    <div class="card mx-auto mt-2 col-12">
        <div class="card-body">
          <h4 class="card-title">Shiganshina Cineplex</h4>
          <h6 class="card-text"><i class="fas fa-volume-up"></i> ENG</h6>
          <br>
          <h5 class="card-text d-inline p-2" style="border: solid; border-radius: 5px;">12:15</h5>
        </div>
    </div>

    <div class="card mx-auto mt-2 col-12">
      <div class="card-body">
        <h4 class="card-title">Shiganshina Cineplex</h4>
        <h6 class="card-text"><i class="fas fa-volume-up"></i> ENG</h6>
        <br>
        <h5 class="card-text d-inline p-2" style="border: solid; border-radius: 5px;">12:15</h5>
      </div>
    </div>

    <div class="card mx-auto mt-2 col-12">
      <div class="card-body">
        <h4 class="card-title">Shiganshina Cineplex</h4>
        <h6 class="card-text"><i class="fas fa-volume-up"></i> ENG</h6>
        <br>
        <h5 class="card-text d-inline p-2" style="border: solid; border-radius: 5px;">12:15</h5>
      </div>
  </div>
</div>